<main>

    <!-- banner-area -->
    <section class="banner-area">
        <div class="banner-shape" data-background="assets/img/banner/banner_shape.jpg"></div>
        <div class="banner-bg" data-background="assets/img/banner/banner_bg.jpg">
            <div class="banner-content">
                <h2 class="title wow fadeInDown" data-wow-delay=".2s">Best Roofing Services and Consulting</h2>
                <p class="wow fadeInUp" data-wow-delay=".2s">There are many variations of passages of Lorem as Ipsumoff
                    available, but the majority have suffered alt.</p>
                <a href="project.html" class="btn wow fadeInUp" data-wow-delay=".4s">Discover More</a>
            </div>
            <div class="banner-tooltip-wrap">
                <div class="tooltip-item top">
                    <div class="tooltip-btn pulse">
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="tooltip-content">
                        <h2 class="title">Combustion Roof Vent</h2>
                        <p>Suffered alteration in some a goody form, by injected humor, or into the randomized word.</p>
                    </div>
                </div>
                <div class="tooltip-item">
                    <div class="tooltip-btn pulse">
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="tooltip-content">
                        <h2 class="title">Combustion Roof Vent</h2>
                        <p>Suffered alteration in some a goody form, by injected humor, or into the randomized word.</p>
                    </div>
                </div>
                <div class="tooltip-item">
                    <div class="tooltip-btn pulse">
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="tooltip-content">
                        <h2 class="title">Combustion Roof Vent</h2>
                        <p>Suffered alteration in some a goody form, by injected humor, or into the randomized word.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- brand-area -->
        <div class="brand-area">
            <div class="container">
                <div class="brand-inner">
                    <div class="row brand-active">
                        <div class="col-12">
                            <div class="brand-item">
                                <img src="assets/img/brand/brand_img01.png" alt="">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="brand-item">
                                <img src="assets/img/brand/brand_img02.png" alt="">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="brand-item">
                                <img src="assets/img/brand/brand_img03.png" alt="">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="brand-item">
                                <img src="assets/img/brand/brand_img04.png" alt="">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="brand-item">
                                <img src="assets/img/brand/brand_img05.png" alt="">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="brand-item">
                                <img src="assets/img/brand/brand_img06.png" alt="">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="brand-item">
                                <img src="assets/img/brand/brand_img03.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- brand-area-end -->

    </section>
    <!-- banner-area-end -->

    <!-- features-area -->
    <section class="features-area pt-120 pb-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="features-item wow fadeInUp" data-wow-delay=".2s">
                        <div class="features-item-inner">
                            <div class="features-content">
                                <h4 class="title">Quality Materials</h4>
                                <p>There are many variatons of passag of Lorem Ipsum available, but the a jority have
                                    suffered.</p>
                                <a href="services-details.html" class="link-btn"><i class="fas fa-arrow-right"></i> Read
                                    More</a>
                            </div>
                            <div class="features-icon">
                                <img src="assets/img/icon/features_icon01.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="features-item wow fadeInUp" data-wow-delay=".4s">
                        <div class="features-item-inner">
                            <div class="features-content">
                                <h4 class="title">Expert Engineer</h4>
                                <p>There are many variatons of passag of Lorem Ipsum available, but the a jority have
                                    suffered.</p>
                                <a href="services-details.html" class="link-btn"><i class="fas fa-arrow-right"></i> Read
                                    More</a>
                            </div>
                            <div class="features-icon">
                                <img src="assets/img/icon/features_icon02.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="features-item wow fadeInUp" data-wow-delay=".6s">
                        <div class="features-item-inner">
                            <div class="features-content">
                                <h4 class="title">Quality Maintenance</h4>
                                <p>There are many variatons of passag of Lorem Ipsum available, but the a jority have
                                    suffered.</p>
                                <a href="services-details.html" class="link-btn"><i class="fas fa-arrow-right"></i> Read
                                    More</a>
                            </div>
                            <div class="features-icon">
                                <img src="assets/img/icon/features_icon03.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- features-area-end -->

    <!-- about-area -->
    {{ drupal_block('views_block:about_us-block_1') }}
    <!-- about-area-end -->

    <!-- services-area -->
    <section class="inner-services-area pt-115 pb-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center mb-50">
                        <span class="sub-title">{{services_data.heading}}</span>
                        <h2 class="title">{{services_data.services_title}}</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
            {% for index, val in service_details %}
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="services-item wow fadeInUp" data-wow-delay=".2s"
                        data-background="{{val.image}}">
                        <div class="services-icon">
                            <img src="{{val.icon}}" alt="">
                        </div>
                        <div class="services-content">
                            <h2 class="title"><a href="services-details.html">{{val.title}}</a></h2>
                            <h2 class="number">{{ ('0' ~ (index + 1))|slice(-2) }}</h2>
                        </div>
                        <div class="services-overlay-content">
                            <h2 class="title"><a href="services-details.html">{{val.title}}</a></h2>
                            <p>{{val.description|slice(0, 120) ~ (val.description|length > 120 ? '...' : '')}}</p>
                            <a href="{{val.node_id}}" class="read-more">Read More <i
                                    class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- services-area-end -->

    <!-- project-area -->
            <section class="project-area project-bg" data-background="sites/default/files/2023-04/project_bg.jpg">
                <div class="container">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="section-title white-title mb-50 tg-heading-subheading animation-style3">
                                <span class="sub-title tg-element-title">{{projects_data.heading}}</span>
                                <h2 class="title tg-element-title">{{projects_data.projects_title}}</h2>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="view-all-btn text-end mb-50">
                                <a href="/projects" class="btn">View All Projects</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                        {% for val in project_details %}
                            <div class="project-item wow fadeInUp" data-wow-delay=".2s">
                                <div class="project-thumb">
                                    <img src="{{val.image}}" alt="">
                                </div>
                                <div class="project-content">
                                    <div class="left-side-content">
                                        <span>{{val.title}}</span>
                                        <h2 class="title"><a href="{{val.node_id}}">{{val.project_title}}</a></h2>
                                        <p>{{val.description|slice(0, 100) ~ (val.description|length > 100 ? '...' : '')}}</p>
                                    </div>
                                    <div class="project-link">
                                        <a href="{{val.node_id}}"><i class="fas fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
    <!-- project-area-end -->

    <!-- team-area -->
    <section class="team-area pt-115 pb-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center mb-60">
                        <span class="sub-title">{{team_data.heading}}</span>
                        <h2 class="title">{{team_data.team_title}}</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
            {% for val in team_details %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                    <div class="team-item">
                        <div class="team-thumb">
                            <a href="{{val.node_id}}"><img src="{{val.image}}" alt=""></a>
                            <div class="team-social">
                                <ul class="list-wrap">
                                {% for social in val.socials %}
                                    <li><a href="{{social.link}}"><i class="fab {{social.class}}"></i></a></li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="team-content">
                            <h2 class="title"><a href="{{val.node_id}}">{{val.title}}</a></h2>
                            <span>{{val.designation}}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
    <!-- team-area-end -->

    <!-- counter-area -->
    <div class="counter-area pb-120">
        <div class="container">
            <div class="counter-inner wow fadeInUp" data-wow-delay=".2s">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="counter-item">
                            <div class="counter-icon">
                                <img src="assets/img/icon/counter_icon01.svg" alt="">
                            </div>
                            <div class="counter-content">
                                <span class="count odometer" data-count="1500"></span>
                                <p>Project Complete</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="counter-item">
                            <div class="counter-icon">
                                <img src="assets/img/icon/counter_icon02.svg" alt="">
                            </div>
                            <div class="counter-content">
                                <span class="count odometer" data-count="8562"></span>
                                <p>Satisfied Clients</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="counter-item">
                            <div class="counter-icon">
                                <img src="assets/img/icon/counter_icon03.svg" alt="">
                            </div>
                            <div class="counter-content">
                                <span class="count odometer" data-count="450"></span>
                                <p>Experienced Staff</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="counter-item">
                            <div class="counter-icon">
                                <img src="assets/img/icon/counter_icon04.svg" alt="">
                            </div>
                            <div class="counter-content">
                                <span class="count odometer" data-count="38"></span>
                                <p>Awards Win</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- counter-area-end -->

    <!-- testimonial-area -->
    <section class="testimonial-area pt-115 pb-120">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 wow fadeInLeft" data-wow-delay=".2s">
                    <div class="testimonial-img">
                        <img src="assets/img/images/testimonial_img.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial-content">
                        <div class="section-title mb-45 tg-heading-subheading animation-style3">
                            <span class="sub-title tg-element-title">Our Testimonial</span>
                            <h2 class="title tg-element-title">Some of Our Respected Happy Clients Says</h2>
                        </div>
                        <div class="testimonial-active">
                            <div class="testimonial-item">
                                <div class="testimonial-icon">
                                    <i class="fas fa-quote-left"></i>
                                </div>
                                <div class="testimonial-content">
                                    <p>There are many varation of paissages of Lorem as the Ipum available but our
                                        majority have sufferied alterations in some form, by our by injected hsumour
                                        randomised worids which don't looks even slightly there as believable. If you
                                        going to use a passage of Lorem Ipsum.</p>
                                </div>
                                <div class="testimonial-avatar">
                                    <div class="avatar-thumb">
                                        <img src="assets/img/images/testi_avatar01.png" alt="">
                                    </div>
                                    <div class="avatar-content">
                                        <h6 class="title">Darrell Steward</h6>
                                        <p>Roofing Expert</p>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-icon">
                                    <i class="fas fa-quote-left"></i>
                                </div>
                                <div class="testimonial-content">
                                    <p>There are many varation of paissages of Lorem as the Ipum available but our
                                        majority have sufferied alterations in some form, by our by injected hsumour
                                        randomised worids which don't looks even slightly there as believable. If you
                                        going to use a passage of Lorem Ipsum.</p>
                                </div>
                                <div class="testimonial-avatar">
                                    <div class="avatar-thumb">
                                        <img src="assets/img/images/testi_avatar01.png" alt="">
                                    </div>
                                    <div class="avatar-content">
                                        <h6 class="title">Darrell Steward</h6>
                                        <p>Roofing Expert</p>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-icon">
                                    <i class="fas fa-quote-left"></i>
                                </div>
                                <div class="testimonial-content">
                                    <p>There are many varation of paissages of Lorem as the Ipum available but our
                                        majority have sufferied alterations in some form, by our by injected hsumour
                                        randomised worids which don't looks even slightly there as believable. If you
                                        going to use a passage of Lorem Ipsum.</p>
                                </div>
                                <div class="testimonial-avatar">
                                    <div class="avatar-thumb">
                                        <img src="assets/img/images/testi_avatar01.png" alt="">
                                    </div>
                                    <div class="avatar-content">
                                        <h6 class="title">Darrell Steward</h6>
                                        <p>Roofing Expert</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial-area-end -->

    <!-- newsletter-area -->
    <section class="newsletter-area jarallax newsletter-bg" data-background="assets/img/bg/newsletter_bg.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5">
                    <div class="newsletter-content">
                        <div class="section-title white-title-two tg-heading-subheading animation-style3">
                            <span class="sub-title tg-element-title">Quality Roofing Contact From</span>
                            <h2 class="title tg-element-title">Need Roofing Any Services?</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="newsletter-form">
                        <form action="#">
                            <div class="form-grp">
                                <input type="text" placeholder="Name*">
                            </div>
                            <div class="form-grp">
                                <input type="text" placeholder="Phone*">
                            </div>
                            <button type="submit" class="btn btn-two">Submit Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- newsletter-area-end -->

</main>